<div class="background">
  <div class="container">
    <mat-card-title class="title">ContactME</mat-card-title>
    <mat-card class="card">
      <div class="avatar">
        <mat-icon class="avatar-icon">person</mat-icon>
        <h2 class="avatar-title">SIGN UP</h2>
      </div>
      <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <cme-input
          label="E-mail"
          type="email"
          [control]="getFormControl('email')"
        ></cme-input>
        <cme-input
          label="Password"
          type="password"
          [control]="getFormControl('password')"
        ></cme-input>
        <button
          color="accent"
          type="submit"
          class="submit-button"
          mat-raised-button
        >
          REGISTER
        </button>
      </form>
      <mat-card-footer>
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <button class="redirect" routerLink="/login">
      Already have an account? Click here to log in!
    </button>
  </div>
</div>
