<h2 mat-dialog-title>Update record</h2>
<div mat-dialog-content>
  <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <cme-input
      label="Name"
      type="text"
      [control]="getFormControl('name')"
      class="panel-form--field"
    ></cme-input>
    <cme-input
      label="Email"
      type="email"
      [control]="getFormControl('email')"
      class="panel-form--field"
    ></cme-input>
    <cme-input
      label="Phone Number"
      type="phoneNumber"
      [control]="getFormControl('phoneNumber')"
      class="panel-form--field"
    ></cme-input>
  </form>
</div>
<p>Do you want to update record?</p>
<div class="cta">
  <button mat-stroked-button color="primary" type="submit" (click)="onUpdate()">
    Update
  </button>
  <button
    mat-stroked-button
    color="secondary"
    (click)="onCancel()"
    class="btn-primary"
  >
    Cancel
  </button>
</div>
