<div class="background">
  <div class="container">
    <mat-card-title class="title">ContactME</mat-card-title>
    <mat-card class="card">
      <div class="avatar">
        <mat-icon class="avatar-icon">person</mat-icon>
        <h2 class="avatar-title">LOGIN</h2>
      </div>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <cme-input
          label="E-mail"
          type="email"
          [control]="getFormControl('email')"
        ></cme-input>
        <cme-input
          label="Password"
          type="password"
          [control]="getFormControl('password')"
        ></cme-input>
        <button
          color="primary"
          type="submit"
          class="submit-button"
          mat-raised-button
        >
          LOGIN
        </button>
      </form>
      <mat-card-footer>
        <mat-progress-bar
          [mode]="authService.isLoading ? 'indeterminate' : 'determinate'"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <button class="redirect" routerLink="/auth/signup">
      Don't have an account? Click here to sign up!
    </button>
  </div>
</div>
