<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Jan Kowalsky"
      #input
    />
  </mat-form-field>

  <cme-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [filterValue]="input.value"
    (editClicked)="openEditDialog($event)"
    (deleteClicked)="openDeleteDialog($event)"
    (createClicked)="openCreateDialog()"
  ></cme-table>
</div>
