<h2 mat-dialog-title>Create new record</h2>
<div mat-dialog-content>
  <form [formGroup]="creationForm" (ngSubmit)="onCreate()">
    <cme-input
      label="Name"
      type="text"
      [control]="getFormControl('name')"
      class="panel-form--field"
    ></cme-input>
    <cme-input
      label="Email"
      type="email"
      [control]="getFormControl('email')"
      class="panel-form--field"
    ></cme-input>
    <cme-input
      label="Phone Number"
      type="phoneNumber"
      [control]="getFormControl('phoneNumber')"
      class="panel-form--field"
    ></cme-input>
  </form>
</div>
<p *ngIf="creationForm.valid; else formInvalid">
  Do you want to create a new record?
</p>
<ng-template #formInvalid>
  <p>You need to fill the form to proceed.</p>
</ng-template>
<div class="cta">
  <button
    mat-stroked-button
    color="primary"
    type="submit"
    (click)="onCreate()"
    [disabled]="creationForm.invalid"
  >
    Create
  </button>
  <button
    mat-stroked-button
    color="secondary"
    (click)="onCancel()"
    class="btn-primary"
  >
    Cancel
  </button>
</div>
