<h2 mat-dialog-title>Create new record</h2>
<div mat-dialog-content>
  <form #creationForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Phone Number"
        [(ngModel)]="phoneNumber"
        name="phoneNumber"
        pattern="^\+48\s\d{3}\s\d{3}\s\d{3}$"
        required
      />
      <mat-hint>Format: +48 XXX XXX XXX</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required
      />
      <mat-hint>Format: example@example.com</mat-hint>
    </mat-form-field>
  </form>
</div>
<p *ngIf="creationForm.valid; else formInvalid">
  Do you want to create a new record?
</p>
<ng-template #formInvalid>
  <p>You need to fill the creationForm to proceed.</p>
</ng-template>
<div class="cta">
  <button
    mat-stroked-button
    color="primary"
    (click)="onCreate(creationForm)"
    [disabled]="creationForm.invalid"
  >
    Create
  </button>
  <button
    mat-stroked-button
    color="secondary"
    (click)="onCancel()"
    class="btn-primary"
  >
    Cancel
  </button>
</div>
