<div class="background"></div>
<div class="card">
  <div class="panel">
    <div class="panel-title">Create Contact</div>
    <div class="panel-image"><img src="assets/contact.svg" /></div>
    <div class="panel-info">
      Although the required password length is 10 characters, remember that the
      longer it is, the more secure your data will be.
    </div>
  </div>
  <div class="panel">
    <form class="panel-form" [formGroup]="creationForm" (ngSubmit)="onSubmit()">
      <cme-input
        label="Name"
        type="text"
        [control]="getFormControl('name')"
        class="panel-form--field"
      ></cme-input>
      <cme-input
        label="Email"
        type="email"
        [control]="getFormControl('email')"
        class="panel-form--field"
      ></cme-input>
      <cme-input
        label="Phone Number"
        type="phoneNumber"
        [control]="getFormControl('phoneNumber')"
        class="panel-form--field"
      ></cme-input>
      <button
        class="panel-cta--btn"
        type="submit"
        color="primary"
        mat-raised-button
      >
        CREATE
      </button>
    </form>
  </div>
</div>
